.projects-content {
  display: flex;
  width: 70%;
}

.projects-nav {
  width: 20%;
}

.projects-section {
  width: 70%;
}

.project-btn {
  list-style-type: none;
}

a {
  text-decoration: none;
}

ul {
  padding-inline-start: 0px;
}