html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.logo {
  flex-grow: 1;
}

.tab-list {
  flex-grow: 1;
  display: flex;
}

.tab-item {
  padding-right: 30px;
  list-style-type: none;
}

a {
  text-decoration: none;
}