html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.nav-bar {
  display: flex;
  justify-content: center;
}

.nav-content {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 1250px) {
    width: 90%;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5em;
  background-color: #000065;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
}

.logo-txt {
  font-family: 'Gill Sans';
  margin: 0px;
}

.tab-list {
  display: flex;
}

.tab-item {
  padding-left: 5%;
  padding-right: 5%;;
  list-style-type: none;
}

.tab-item :hover {
  opacity: 70%;
}

a {
  text-decoration: none;
  color: #000065;
  font-size: 1.5em;
}

.content {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 1200px;
  @media (max-width: 1250px) {
    width: 90%;
  }
}

.content-section {
  width: 1200px;
  @media (max-width: 1250px) {
    width: 90%;
  }
}

